{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}



{% block content %} 

<div class="container text-center d-flex flex-column align-items-center">

    <h1 class="display-1 my-5">
        <i class="fa-solid fa-display"></i>Buddy Edit
    </h1>
    
    <form action="/user/{{ user.user_id }}/edit" method="POST" class="w-50">

        {% include '_form.html' %}
        <button type="submit" class="btn btn-md btn-success mt-4">Update</button>
    </form>

    <div class="d-flex w-25 align-items-center justify-content-center mt-5">
        <button type="button" class="btn btn-md btn-primary mx-2"><a href="/user/{{ user.user_id }}">Back To User</a></button>
        <form action="/user/{{ user.user_id }}/delete" method="POST" class="mx-2">
            <button type="submit" class="btn btn-danger">Delete User</button>
        </form>
    </div>
    
</div>





{% endblock %}
